<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <h1>Bienvenido...</h1>
    <hr/>
    <ul>
        <li>
            <a href="{{url_for('inicio')}}">Inicio</a>
        </li>
        <li>
            <a href="{{url_for('ordenamiento')}}">orden de numeros en formato JSON</a>
        </li>
        <li>
        <a href="{{url_for('upload_file')}}">subir archivos</a>
        </li>
        <li>
            <a href="{{url_for('Github)}}">subir archivos</a>
            </li>
    </ul>
    <hr/>
    <h1>PRUEBA RYC EUROAMERICAN TRAVEL SAS</h1>
</body>
</html>